.gifDiv{
    /* making the images go in one line rather than block & adding spacing between the images*/
    float: left;
    margin: 3px;
}
header{
    text-align: center;
    background-color: purple;
    height: 70px;
    padding-top: 5px;
    padding-bottom: 25px;
    color: aliceblue;
    font-family: serif;
    font-style: italic;
    font-weight: bold;
}
body{
    background-image: url('https://media.mnn.com/assets/images/2016/12/Emojis-Faces-White-Background-Promo.jpg.600x315_q80_crop-smart.jpg');
background-size: 100%;    
}


img { 
    height: 150px;
    width: 150px;
}

.container{
    margin-top: 50px;
}

.btn {
   
    margin: 3px;
    background-color: purple;
    border-color: #fff;
    height: 50px;
    width: auto;
}
h2{
    font-family: serif;
    font-weight: bold;
    font-size: 70px;
}